.venv/
__pycache__/
*.pyc
.idea/
.obsidian/
rag/chroma_data/
sec-vault-gen/attack-stix-data/
sec-vault-gen/LOLBAS/
obsidian_vault/.obsidian/workspace*
obsidian_vault/.trash/
lotl_dataset/
gtfobins-source/
sigma-rules/
atomic-red-team/
rag/chroma_data/chroma.sqlite3/
*.zip