.venv/
__pycache__/
*.pyc
.idea/
.obsidian/
chroma_data/
rag/chroma_data/
ollama_models/
sec-vault-gen/attack-stix-data/
sec-vault-gen/LOLBAS/
obsidian_vault/.obsidian/workspace*
obsidian_vault/.trash/
lotl_dataset/
gtfobins-source/
sigma-rules/
atomic-red-team/
*.zip
*.pem
id_ed25519*
*.key
